secrets.yaml
*.db
*.db-shm
*.db-wal
.storage/
.cloud/
.uuid
home-assistant.log*
home-assistant_v2.db*
tts/
deps/
.HA_VERSION
backups/
www/community/
custom_components/
image/
.venv/
__pycache__/
esphome/secrets.yaml
